<script>
export default {
  props: {
    title: {
      required: true,
      type: String,
    },
    customClass: {
      required: false,
      default: "",
      type: String,
    },
    tabPosition: {
      required: true,
      default: "0",
      type: String,
    },
    relatedComponent: {
      required: true,
      type: String,
    },
  },
};
</script>

<template>
  <button
    @click="
      $emit('setTabPosition', {
        position: tabPosition,
        component: relatedComponent,
      })
    "
    class="flex-shrink-0 app-button p-2 text-black"
    :class="customClass"
  >
    {{ title }}
  </button>
</template>



