<script>
import AppContentBase from "~/components/AppContentBase.vue";
import AppContentCard from "~/components/AppContentCard.vue";
export default {
  components: {
    AppContentBase,
    AppContentCard,
  },
};
</script>

<template>
  <AppContentBase>
    <p class="text-center title p-1">Drei einfache Schritte<br />zu deinem neuen Job</p>
    <div class="app-card flex flex-col px-4">
      <img
        class="max-w-0 self-center -mb-16 ml-12 mt-5"
        :src="require('~/assets/undraw_Profile_data_re_v81r.svg')"
      />
      <div class="flex mr-2 w-full justify-start items-end">
        <p class="number bg-1">1.</p>
        <p class="ml-5 mb-6 description">Erstellen dein Lebenslauf</p>
      </div>
    </div>

    <!-- 2 -->
    <svg
      class="-mt-10"
      xmlns="http://www.w3.org/2000/svg"
      viewBox="0 0 1440 320"
    >
      <path
        fill="#E6FFFA"
        fill-opacity="1"
        d="M0,288L48,272C96,256,192,224,288,197.3C384,171,480,149,576,165.3C672,181,768,235,864,250.7C960,267,1056,245,1152,250.7C1248,256,1344,288,1392,304L1440,320L1440,320L1392,320C1344,320,1248,320,1152,320C1056,320,960,320,864,320C768,320,672,320,576,320C480,320,384,320,288,320C192,320,96,320,48,320L0,320Z"
      ></path>
    </svg>
    <div class="app-card flex flex-col items-end px-4 background">
      <div class="flex mr-0 w-full pl-3 justify-start items-end">
        <p class="number">2.</p>
        <p class="ml-5 mb-6 description">Erstellen dein Lebenslauf</p>
      </div>
      <img
        class="max-w-0 self-center mt-2"
        :src="require('~/assets/undraw_task_31wc.svg')"
      />
    </div>
    <svg
      class="-mt-1"
      xmlns="http://www.w3.org/2000/svg"
      viewBox="0 0 1440 320"
    >
      <path
        fill="#EBF4FF"
        fill-opacity="1"
        d="M0,160L48,154.7C96,149,192,139,288,138.7C384,139,480,149,576,138.7C672,128,768,96,864,112C960,128,1056,192,1152,224C1248,256,1344,256,1392,256L1440,256L1440,0L1392,0C1344,0,1248,0,1152,0C1056,0,960,0,864,0C768,0,672,0,576,0C480,0,384,0,288,0C192,0,96,0,48,0L0,0Z"
      ></path>
    </svg>

    <!-- 3. -->
    <div class="app-card flex flex-col justify-center items-end px-4">
      <div class="flex mt-5 mr-0 w-full pl-10 pr-3 justify-start items-center -mt-12">
        <p class="number bg-2">3.</p>
        <p class="ml-5 description z-10">Mit nur einem Klick<br/>bewerben</p>
      </div>
      <img
        class="max-w-0 self-end mb-5 -mt-8 z-10"
        :src="require('~/assets/undraw_personal_file_222m.svg')"
      />
    </div>
  </AppContentBase>
</template>


<style>
  .title {
    font: normal normal medium 21px/25px Lato;
    letter-spacing: 0px;
    color: #4A5568;
  }
  .number{
    font: normal normal normal 130px/156px Lato;
    letter-spacing: 0px;
    color: #718096;
  }
  .number.bg-2 {
    z-index: 2;
  }
  .number.bg-1::before {
    content: "";
    display: block;
    position: absolute;
    width: 250px;
    height: 250px;
    left: -80px;
    top: -10px;
    z-index: -1;
    background: #F7FAFC 0% 0% no-repeat padding-box;
    border-radius: 50%;
  }
  .number.bg-2::before {
    content: "";
    display: block;
    position: absolute;
    width: 304px;
    height: 304px;
    left: -130px;
    top: -20px;
    z-index: -1;
    background: #F7FAFC 0% 0% no-repeat padding-box;
    border-radius: 50%;
  }
  .description {
    font: normal normal normal 16px/19px Lato;
    letter-spacing: 0.47px;
    color: #718096;
  }
</style>