<script>
export default {
  props: {
    number: {
      type: String,
      required: true,
    },
    image: {
      type: String,
      required: true,
    },
    reverse: {
      type: Boolean,
      default: false,
    },
    transform: {
      type: String,
      required: true,
    },
    customClass: {
      type: String,
      default: "",
    },
    imageToBack: {
      type: Boolean,
      default: false,
    },
    showWaves: {
      type: Boolean,
      default: false,
    },
  },
};
</script>

<template>
  <div>
    <svg
      v-if="showWaves"
      xmlns="http://www.w3.org/2000/svg"
      viewBox="0 0 1440 320"
    >
      <path
        fill="#E6FFFA"
        fill-opacity="1"
        d="M0,288L48,272C96,256,192,224,288,197.3C384,171,480,149,576,165.3C672,181,768,235,864,250.7C960,267,1056,245,1152,250.7C1248,256,1344,288,1392,304L1440,320L1440,320L1392,320C1344,320,1248,320,1152,320C1056,320,960,320,864,320C768,320,672,320,576,320C480,320,384,320,288,320C192,320,96,320,48,320L0,320Z"
      ></path>
    </svg>
    <div
      class="app-card flex flex-col justify-center items-end px-4"
      :class="`${reverse ? 'flex-col-reverse' : ''} ${customClass}`"
    >
      <img
        class="max-w-0 self-center mb-5 mt-5"
        :class="`${imageToBack ? 'image-to-back-image' : ''}`"
        :src="image"
        alt=""
      />
      <div
        class="flex self-center mt-5 w-full px-3 items-end"
        :style="`height: 5em; transform: translateX(${transform})`"
      >
        <p class="number">{{ number }}</p>
        <p class="ml-5">
          <slot></slot>
        </p>
      </div>
    </div>
    <svg
      v-if="showWaves"
      xmlns="http://www.w3.org/2000/svg"
      viewBox="0 0 1440 320"
    >
      <path
        fill="#EBF4FF"
        fill-opacity="1"
        d="M0,160L48,154.7C96,149,192,139,288,138.7C384,139,480,149,576,138.7C672,128,768,96,864,112C960,128,1056,192,1152,224C1248,256,1344,256,1392,256L1440,256L1440,0L1392,0C1344,0,1248,0,1152,0C1056,0,960,0,864,0C768,0,672,0,576,0C480,0,384,0,288,0C192,0,96,0,48,0L0,0Z"
      ></path>
    </svg>
  </div>
</template>

<style scoped>
  .number{
    font: normal normal normal 130px/156px Lato;
    letter-spacing: 0px;
    color: #718096;
  }
</style>