<template>
  <header class="fixed z-50 w-full header-shadow px-6 flex items-center justify-end shadow-lg rounded-b-2xl">
    <p class="text-right text-gray tracking-wide">Login</p>
  </header>
</template>

<style>
  header {
    height: 67px;
  }
  header p {
    font: normal normal 600 14px/17px Lato;
    letter-spacing: 0.84px;
    color: #319795;
  }
</style>