<template>
  <div>
    <main
      class="
        flex
        text-center
        flex-col
        justify-center
        items-center
        min-h-80
        background-gray
      "
    >
      <h1 class="text-4xl mt-3 leading-tight">
        Deine Job <br />
        Website
      </h1>
      <img
        src="~/assets/undraw_agreement_aajr.svg"
        class="mt-1 max-w-0 pb-4 max-w-none"
        alt=""
      />
    </main>
    <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 1440 320">
      <path
        fill="#E6FFFA"
        fill-opacity="1"
        d="M0,288L48,293.3C96,299,192,309,288,309.3C384,309,480,299,576,250.7C672,203,768,117,864,122.7C960,128,1056,224,1152,256C1248,288,1344,256,1392,240L1440,224L1440,0L1392,0C1344,0,1248,0,1152,0C1056,0,960,0,864,0C768,0,672,0,576,0C480,0,384,0,288,0C192,0,96,0,48,0L0,0Z"
      ></path>
    </svg>
  </div>
</template>

<script>
export default {};
</script>

<style scoped>
  main {
    padding-top: 67px;
  }
  h1 {
    text-align: center;
    font: normal normal medium 42px/50px Lato;
    letter-spacing: 1.26px;
    color: #2D3748;
  }
</style>