<template>
  <div
    class="
      fixed
      notify
      bottom-0
      left-0
      right-0
      text-center
      p-5
      w-full
      rounded-t-2xl
      z-50
    "
  >
    <a href="#" class="px-3 py-2 notify-button block w-full rounded-2xl"
      >Kostenlos Registrieren</a
    >
  </div>
</template>

