<script>
import AppMain from "~/components/AppMain";
import AppHeader from "~/components/AppHeader.vue";
import AppButton from "~/components/AppButton.vue";
import AppContent1 from "~/components/AppContent1.vue";
import AppContent2 from "~/components/AppContent2.vue";
import AppContent3 from "~/components/AppContent3.vue";
import AppNotify from "~/components/AppNotify.vue";

export default {
  transition: "fade",
  components: {
    AppMain,
    AppHeader,
    AppButton,
    AppContent1,
    AppContent2,
    AppContent3,
    AppNotify,
  },
  data() {
    return {
      tabPosition: "0",
      currentComponent: "AppContent1",
    };
  },
  methods: {
    setTabPositions(position) {
      console.log(position);
      this.tabPosition = position.position + "px";
      this.currentComponent = position.component;
    },
  },
};
</script>

<template>
  <div class="overflow-hidden">
    <AppHeader />
    <AppMain />
    <section class="mt-5 min-h-screen" style="margin-bottom: 88px">
      <div
        class="tabs flex pt-5 px-5 mb-3"
        :style="`transform: translateX(${tabPosition})`"
      >
        <AppButton
          @setTabPosition="setTabPositions($event)"
          :relatedComponent="'AppContent1'"
          :tabPosition="'0'"
          :title="'Arbeitnehmer'"
          :customClass="` ${
            currentComponent == 'AppContent1' ? 'active' : ''
          } `"
        />
        <AppButton
          @setTabPosition="setTabPositions($event)"
          :relatedComponent="'AppContent2'"
          :tabPosition="'-130'"
          :title="'Arbeitgeber'"
          :customClass="`${currentComponent == 'AppContent2' ? 'active' : ''}`"
        />
        <AppButton
          @setTabPosition="setTabPositions($event)"
          :relatedComponent="'AppContent3'"
          :tabPosition="'-260'"
          :title="'Temporärbüro'"
          :customClass="` ${
            currentComponent == 'AppContent3' ? 'active' : ''
          }`"
        />
      </div>
      <transition name="fade">
        <component :is="currentComponent" />
      </transition>
    </section>
    <AppNotify />
  </div>
</template>

<style>
@import url("https://fonts.googleapis.com/css2?family=Lato&display=swap");
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Lato";
}
button {
  outline: none !important;
  box-shadow: none;
}
.app-button.active {
  background: #81e6d9 0% 0% no-repeat padding-box;
  color: #e6fffa;
}
.app-button {
  border: 1px solid #cbd5e0;
  color: #319795;
  width: 60%;
}
.app-button:nth-child(2) {
  border-right: none;
  border-left: none;
}
.background-gray {
  background: transparent linear-gradient(180deg, #ebf4ff 0%, #e6fffa 100%) 0%
    0% no-repeat padding-box;
}
.text-gray {
  color: #319795;
}
.min-h-80 {
  min-height: 80vh;
}
.tabs {
  transition: transform 250ms cubic-bezier(0.175, 0.885, 0.32, 1.275);
}
.fade-enter-active,
.fade-leave-active {
  transition: opacity 0.5s;
}
.fade-enter,
.fade-leave-active {
  opacity: 0;
}
.app-card {
  color: #718096;
}
.app-card.background {
  background: transparent linear-gradient(180deg, #e6fffa 0%, #ebf4ff 100%) 0%
    0% no-repeat padding-box;
}
.text-8xl {
  font-size: 5rem;
  line-height: 0.9;
}
.image-to-back-image {
  transform: translateY(-40px);
}
.notify {
  box-shadow: 0px -1px 3px #00000033;
  background: #ffffff 0% 0% no-repeat padding-box;
}
.notify-button {
  background: transparent linear-gradient(95deg, #319795 0%, #3182ce 100%) 0% 0%
    no-repeat padding-box;
  color: #e6fffa;
}
.header-shadow {
  background: #ffffff 0% 0% no-repeat padding-box;
  box-shadow: 0px 3px 6px 0px #00000029;
  /* position: relative; */
}
.header-shadow::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  height: 5px;
  width: 100%;
  background: transparent linear-gradient(91deg, #319795 0%, #3182ce 100%) 0% 0%
    no-repeat padding-box;
}
.app-button:nth-child(1) {
  border-bottom-left-radius: 50px;
  border-top-left-radius: 50px;
}
.app-button:nth-child(3) {
  border-bottom-right-radius: 50px;
  border-top-right-radius: 50px;
}
</style>
